@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
   font-family: 'Poppins', sans-serif; 
 }




header {
    background-color: rgb(31, 4, 31);
    text-decoration-style: none;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    display: flex;
}

nav{
text-align: center;
background-color: rgb(31, 4, 31);
margin-top: 1rem;
margin-bottom: 1rem;
margin-left: 1rem;
margin-right: 1rem;
display: inline-block;


}

nav ul li{
   list-style-type: none;
   border: solid;
   border-width: 20px;
   border-color: rgb(23, 5, 23);
   display:inline-block;
   text-align: center;
  
}


h1{
   color: whitesmoke;
   font-size: 20px;
   text-align: center;
   margin-top: 16px;
}

 #login {
 border-radius: 10px;
 padding: 0.5rem;
 border-color: rgb(23, 5, 23);
}
 
#destaques{
   border-radius: 10px;
   padding: 0.5rem;
   border-color: rgb(23, 5, 23);
}

#generos{
   border-radius: 10px;
   padding: 0.5rem;
   border-color: rgb(23, 5, 23);
  }

  #artistas{
   border-radius: 10px;
   padding: 0.5rem;
   border-color: rgb(23, 5, 23);
  }

  #albuns {
   border-radius: 10px;
   padding: 0.5rem;
   border-color: rgb(23, 5, 23);
  }

  #playlists{
   border-radius: 10px;
   padding: 0.5rem;
   border-color: rgb(23, 5, 23);
  }

  main{
   font-size: 18px;
   color: whitesmoke;
}

main ul li{
   list-style-type: none;
}

 a{
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
 }
  
 .estilos {
    font-size: 16px;
    color: whitesmoke;
    list-style-type:none;
    display: flex;
 }

body {
    background-color:rgb(17, 17, 19);
}

footer{
   background-color: rgb(31, 4, 31);
   color: whitesmoke;
   font-size: 12px;
   text-align: center;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   

}

 footer ul li{
   list-style-type: none;
}

span{
   text-align: center;
}